{% extends "base.html" %}

{% block head %}
<title>
    Readalot
</title>
<img class="background" src="./Bookpic2.jpg" alt="Did not work bro">
{% endblock %}

{% block body %}

<div class="content">
    
    
        <!-- your content goes here -->
        <h1> Readalot.com </h1>
    <p class="thick" margin-top= "15px">Book review, summary and suggestions portal to help you find the best books for you</p>
    
    <!-- Book review portion -->
  <div class="sections" >
    <h2>Book review</h2>
    <p class="after-header">Have a few books in mind? Here are a few unbiased review on the books of your choice</p>
  
    <form action="/review" method="post">
    <input type="text" class="input-field" placeholder="Enter book name" name="name_book" required>
    <input type="submit" class="input-field" placeholder="Enter book name" value="submit">
    <!-- <button class="normal" type="submit">
      <a href="{{ url_for('review') }}">
        Find Review
      </a>
      <i class="fa fa-search"></i></button> -->
    </form>
  </div>
    
    <!-- Book summary portion -->
  <div class="sections">
    <h2>Book summary</h2>
    <p class="after-header">Get a short summary of any books along with our suggestion on what you could expect to gain from the same</p>
    <form action="/summary" method="post">
      <input type="text" class="input-field" placeholder="Enter book name" name="name_book" required>
      <input type="submit" class="input-field" placeholder="Enter book name" value="submit">
      <!-- <button class="normal" type="submit">
        <a href="{{ url_for('review') }}">
          Find Review
        </a>
        <i class="fa fa-search"></i></button> -->
    </form>
  </div>
    
    <!-- Book suggestion portion -->
  <div class="sections">
    <h2>Our suggestion</h2>
    <p class="after-header">Wondering what to read next? Tell us a bit about yourself and we'll find the best books for you!</p>
    <form action="suggestions" method="POST" >
    
        <!-- Book Type -->
        <p class="normalbold">Pick the genre/types of books you would love to read</p>
        <input type="checkbox" id="Biography/Autobiography" name="Biography/Autobiography" value="Biography/Autobiography">
        <label for="Biography/Autobiography">Biography/Autobiography</label><br>
      
        <input type="checkbox" id="History/Sociology" name="History/Sociology" value="History/Sociology">
        <label for="History/Sociology">History</label><br>
      
        <input type="checkbox" id="Philosophy" name="Philosophy" value="Philosophy">
        <label for="Philosophy">Philosophy</label><br><br>
      
        <input type="checkbox" id="Science" name="Science" value="Science">
        <label for="Science">Science</label><br>
      
        <input type="checkbox" id="Psychology" name="Psychology" value="Psychology">
        <label for="Psychology">Psychology</label><br>
      
        <input type="checkbox" id="Economics" name="Economics" value="Economics">
        <label for="Economics">Economics</label><br><br>
      
        <input type="checkbox" id="type7" name="Self Help" value="Self Help">
        <label for="Self Help">Self Help</label><br>
      
        <input type="checkbox" id="type8" name="Entrepreneurship/Business" value="Entrepreneurship/Business">
        <label for="Entrepreneurship/Business">Entrepreneurship/Business</label><br>
      
        <input type="checkbox" id="Finance" name="Finance" value="Finance">
        <label for="Finance">Finance</label><br><br>
      
        <input type="checkbox" id="Romance" name="Romance" value="Romance">
        <label for="Romance">Romance</label><br>
      
        <input type="checkbox" id="Adventure" name="Adventure" value="Adventure">
        <label for="Adventure">Adventure</label><br>
      
        <input type="checkbox" id="Feel good" name="Feel good" value="Feel good">
        <label for="Feel good">Feel good</label><br><br>
    
        <!-- Reading speed -->
      <p class="normalbold">Pick how long you take to read a page:</p>
      <div id=myForm>
      <select name="speed" id="speed" style="max-width:100%;">
        <option value=3>3 minutes or less</option>
        <option value=5>5 minutes</option>
        <option value=10>10 minutes</option>
        <option value=15>15 minutes</option>
        <option value=20>more than 15 minutes</option>
      </select>
      </div>
      <br><br>
    
        <!-- Size of book -->
      <p class="normalbold">How long would you prefer the book to be:</p>
      <div id=myForm>
      <select name="length" id="length">
        <option value=50>50 Pages or less</option>
        <option value=100>upto 100 pages</option>
        <option value=200>upto 200 pages</option>
        <option value=400>upto 400 pages</option>
        <option value=700>upto 700 pages</option>
        <option value=1000>Length does not matter</option>
      </select>
      </div>
      <br><br>
    
      <input type="submit" class="input-field"  value="submit">
    </form>
  </div>
    
    
</div>

{% endblock %}