{% extends "base.html" %}

{% block head %}
<title>
    Readalot
</title>
{% endblock %}

{% block body %}

    <br class="content">
    <img class="background" src="./Bookpic2.jpg" alt="Aleq">
    
        <!-- Book review page -->
        <h1> Book</h1>
        <h1> Review</h1>

    <p class="thick" margin-top= "15px">Hi there! Thank you for using Readalot! </p>
    
    <!-- Review of the selected book goes here-->
    <div class="sections" >
    <h2>{{fetch_name}}</h2>
    
    <p>Rating: </p>
    <p class="after-header">{{fetch_rating}}</p>
    

    <p>Review: </p>
    <p class="after-header">{{fetch_review}}</p>

    <button class="normal" type="submit">This was helpful!<i class="fa fa-search"></i></button>
    <button class="normal" type="submit">Not helpful<i class="fa fa-search"></i></button>
    </div>
    
    </div>

{% endblock %}