{% extends "base.html" %}

{% block head %}
<title>
    Readalot
</title>
{% endblock %}

{% block body %}

    <br class="content">
    <img class="background" src="./Bookpic2.jpg" alt="Aleq">
    
        <!-- Book suggestions page -->
        <h1> Book</h1>
        <h1> Suggestions</h1>

    <p class="thick" margin-top= "15px">Hi there! Thank you for using Readalot! </p>
    
    <!-- Suggestions based on user interest-->
    <div class="sections" >
    <h2>Here are a few books you might like: </h2>
    <p class="after-header">Lorem ipsum</p>
    <button class="normal" type="submit">This was helpful!<i class="fa fa-search"></i></button>
    <button class="normal" type="submit">Not helpful<i class="fa fa-search"></i></button>
    </div>
    
    </div>

{% endblock %}