{% extends "base.html" %}

{% block head %}
<title>
    Readalot
</title>
{% endblock %}

{% block body %}

    <br class="content">
    <img class="background" src="./Bookpic2.jpg" alt="Aleq">
    
        <!-- Book suggestions page -->
        <h1> Book</h1>
        <h1> Suggestions</h1>

    <p class="thick" margin-top= "15px">Hi there! Thank you for using Readalot! </p>
    
    <!-- Suggestions based on user interest-->
    <div class="sections" >
    <h2>Here are a few books you might like: </h2>
    <p class="after-header">
        <table border=1>

                <tr>
                    <th>
                        Time taken to read one page
                    </th>
                    <td>
                        {{reader_speed}} minutes
                    </td>
                </tr>
                <tr>
                    <th>
                        Prefered Length of the book
                    </th>
                    <td>
                        {{booklength_prefered}} pages
                    </td>
                </tr>
                <tr>
                    <th>
                        Fields of interest
                    </th>
                    <td>
                        {%for i in field_of_interest%}
                            {{i}} 
                        {%endfor%}
                    </td>
                </tr>
        </table>
    </p>
    <div>
        {%set iterations = [1]%}
        {%for i in range(total_suggested_books)%}
        {%set temp_count = iterations.count(1)%}
        <p class="after-header">Book {{temp_count}}</p>
        <table border=1>
                <tr>
                    <th>
                        Name
                    </th>
                    <td>
                        {{suggested_books_name[i]}} 
                    </td>
                </tr>
                <tr>
                    <th>
                        Author
                    </th>
                    <td>
                        {{suggested_books_author[i]}} 
                    </td>
                </tr>
                <tr>
                    <th>
                        Genre
                    </th>
                    <td>
                        {{suggested_books_genre[i]}} 
                    </td>
                </tr>
                <tr>
                    <th>
                        Rating
                    </th>
                    <td>
                        {{suggested_books_rating[i]}} 
                    </td>
                </tr>
                <tr>
                    <th>
                        No. of pages
                    </th>
                    <td>
                        {{suggested_books_no_pages[i]}} 
                    </td>
                </tr>

        </table>
        {%set temp=iterations.append(1)%}

        {%endfor%}
    </div>
    <button class="normal" type="submit">This was helpful!<i class="fa fa-search"></i></button>
    <button class="normal" type="submit">Not helpful<i class="fa fa-search"></i></button>
    </div>
    
    </div>

{% endblock %}